<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <link rel=”stylesheet” href="/challenge14/public/style.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <style>
        body {
            font-family: 'Poppins';
            }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dev Blog by Annie</title>
</head>
<body class="dark:bg-slate-900">
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">
                    <h1 class="text-3xl dark:text-green-500 font-black tracking-wide">Lyfbro</h1>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <!-- Profile dropdown -->
                <div class="relative ml-3">
                <div>
                    <button type="button" class="">
                        <span class="dark:text-green-100">username</span>
                    </button>
                </div>
                <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                </div>
                </div>
            </div>
            </div>
        </div>
    </nav>
    <div class="dark:bg-slate-900 dark:text-green-100 m-16">
        {{{body}}}
    </div>
</body>
</html>
<h1>lybro</h1>
<p>Lyfbro is a web application aims at helping user track their activities to monitor health progress. This provides a "gamified" way to inspire health related activities.</p>