<!-- Add Activity Button -->
<div class="activity-button">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
    Add Activity
    </button>
</div>

<!-- Cardio Graph -->

<!-- Mindfulness Graph -->

<!-- Strength Graph -->