<!-- Add Activity Button -->
<div class="activity-button">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
    Add Activity
    </button>
</div>

<!-- Cardio Graph -->
<div id="cal-heatmap"></div>
<script type="text/javascript" src="/js/graph.js"></script>

<!-- Mindfulness Graph -->

<!-- Strength Graph -->
